@import "tailwindcss";

@theme {
  --animate-blink: blink 1s step-end infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
